
<div id="container">
<div id="main">
	<div id="block">
	
<div style="font-family:Fantasy, Comic Sans;text-align:center;">
	<br>
	<br>
	
<h1>GAMEHOLIC</h1><br>
<h2> Wanna play video game ?? and you dont have one at home ?? </h2>
<h2>Well , we have a good news for you. Now you can rent your favourite game console from ur neighbourhood Gameholic store very soon!!</h2>
<h2> we are coming soon.. get ready for your fun gaming time !!</h2>


<br><br><br><br><br><br>
<h2> we will let you know when we are ready  <%= render 'form' %>  </h2>


	
</div>

</div>
</div>

</div>









































